<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  @if (favorites.length === 0) {
    <p>My favorite person is:</p>
  } @else if (favorites.length === 1){
    <p>My favorite person is: {{favorites[0]}}</p>
  } @else {
    <p>My favorite people are:</p>
    <ul>
      @for (person of favorites; track person) {
        <li>{{person}}</li>
      }
    </ul>
  }
</div>
<div class="people">
  <!-- Add your people component here -->
   @for (person of people; track person) {
    <app-people
      [name] = "person"
      (addFav) = "addFav($event)"
    ></app-people>
   }
</div>
